#!/usr/bin/env python3

github_token = ''
org = 'shalb'
repo = 'cluster.dev'
workflow_filename = 'gh-5.yaml'

"""
Advanced settings
"""
enable_sleep_logs = True

job_logs_update_interval = 3
leave_job_after_no_logs_iterations = 10

search_for_new_jobs_interval = 10
